social()
  display inline-block
  width 110px
  ul
    display flex
    align-items center
    justify-content space-between
  a
    display block
    width 30px
    height 30px

    text-align center

    background-color greyColor
    border-radius 50%
    svg 
      width 45%
      fill whiteColor
    &:hover
      background-color yellowColor 
      svg 
        fill blackColor

logo()
  subTitleFont = "lora-regular"

  font-size 38px
  line-height 1
  text-transform uppercase
  color whiteColor
  span 
    display block
    padding-left 3px

    font-size 10px

clearfix()
  &::after
    content ''
    display table
    clear both