.page-about .hero
  background url('img/content/about/simon-rae-471376-unsplash_2000px.png') no-repeat center / cover

.page-about .page__main
  padding-bottom 0

.page-about-main section:not(:last-child)
  margin-bottom 150px
  @media (orientation portrait) and (max-width 768px)
    margin-bottom 15%

.page-about-main .heading
  padding-bottom 50px

.about-us-row
  display flex
  @media (orientation portrait) and (max-width 1024px)
    flex-wrap wrap

.about-us-col:not(.about-us-grid)
  position relative
  z-index $z-index1

  padding-top 355px

  background-color greyColor
  overflow hidden

.about-us-col:not(:last-child)
  @media (orientation portrait) and (min-width 480px)
    margin-right 5px
  @media (orientation portrait) and (max-width 480px)
    margin-bottom 5px

.about-us-col-size-md
  flex-basis 240px
  @media (orientation portrait) and (max-width 480px)
    flex-basis 100%

.about-us-col-size-lg
  flex-basis 435px
  @media (orientation portrait) and (max-width 768px)
    flex-basis 470px
  @media (orientation portrait) and (max-width 480px)
    flex-basis 100%

.about-us-cell
  position relative
  z-index $z-index1

  padding-top 175px

  background-color greyColor
  overflow hidden
  @media (orientation portrait) and (max-width 480px)
    padding-top 400px

.about-us-cell:not(:last-child)
  margin-bottom 5px

.about-us-col img,
.about-us-cell img 
  position absolute
  top 0
  left 0
  z-index -1

  width 100%

.about-us-col-tablet-lg
  @media (orientation portrait) and (max-width 768px)
    @extend .about-us-col-size-lg

.about-us-col:nth-child(-n+2) 
  @media (orientation portrait) and (max-width 768px)
    margin-bottom 5px

.about-food-section
  position relative
  z-index $z-index1

  background url('img/content/about/toa-heftiba-296458-unsplash_2000px.png') no-repeat center / cover

.about-food-section::after
  @extend .hero::after
  background-color rgba(blackColor,.7)

.about-food-section
  padding 140px 0
  text-align center
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    padding 15% 0

.about-food-hero
  @extend .heading
  padding-bottom 60px

.about-food-title
  @extend .hero__title
  margin-bottom 50px
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    margin-bottom 5%
  @media (orientation portrait) and (max-width 375px)
    @extend .hero__title  

.about-food-title span
  @extend .hero__title span 
  width 100%

.about-food-hero p
  font 18px / 30px italicFont
  opacity .7
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    font-size 14px
    line-height 26px

.page-about footer 
  background url('img/content/about/simon-rae-471376-unsplash_2000px.png') no-repeat bottom / cover

