.page__cont .page__hero
  background url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat center / cover



.page__cont footer
  background url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat bottom / cover