.page__cont .hero
  background url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat center / cover

.cont-conn
  padding 104px 0 101px
  @media (orientation portrait) and (max-width 1024px)
    max-width 700px
    margin 0 auto
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 1024px)
    padding 15% 0

.cont-conn__row
  display flex
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    flex-wrap wrap

.cont-conn__col:not(:last-child)
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    margin-bottom 10%

.cont-conn__desc
  flex-basis 400px
  padding-right 55px
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    flex-basis 100%
    padding-right 0

.cont-conn__title
  margin-bottom 30px
  
  text-transform uppercase

.cont-conn__text
  margin-bottom 37px

.cont-conn__text p:not(:last-child)
  margin-bottom 24px

.cont-conn__social span 
  margin-right 20px

  font 14px / 1 baseFont2
  text-transform uppercase
  vertical-align 8px
  color blackColor

.cont-form
  position relative
  z-index $z-index1

  flex-basis 770px
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    flex-basis 100%

.cont-form__nb
  position absolute
  bottom 15px
  right 0
  
  font 14px / 1 italicFont
  color greyColor
  @media (orientation portrait) and (max-width 480px),
  (orientation landscape) and (max-width 720px)
    display none

.cont-form__rows
  margin-bottom 25px

.cont-form__row
  display flex
  justify-content space-between

.cont-form__row:not(:last-child)
  margin-bottom 30px

.cont-form__col_size_md
  flex-basis 370px
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    flex-basis 49%

.cont-form__col_size_lg
  flex-basis 100%

.cont-form label
  display block
  margin-bottom 12px

  font 14px / 1 baseFont2
  text-transform uppercase
  color blackColor

.cont-form input, textarea
  width 100%
  padding 6px 18px

  font-size 12px

  border 1px solid greyColor

.cont-form textarea 
  padding-bottom 0

.cont-form__submit
  padding 0 37px

  line-height 43px

.visually-mobile-none
  @media (orientation portrait) and (max-width 480px),
  (orientation landscape) and (max-width 720px)
    display none

.cont-info
  background-color blackColor 

.cont-info__row
  display flex
  justify-content space-between

  padding 40px 100px
  @media (orientation portrait) and (max-width 768px)
    padding 5% 0

.cont-info__col
  flex-basis 200px

.cont-info__col
  display flex
  align-items center

.cont-info__pic
  width 70px
  height 70px
  padding 12px

  text-align center

.cont-info__col svg 
  width 100% !important
  height 100% !important
  
  fill whiteColor 

.cont-info__col p
  font-size 12px
  letter-spacing -.1px
  color whiteColor

.wrap
  min-height 700px

  background-color greyColor

.wrap .container
  position relative

#map
  min-height 700px

.page__cont footer
  background url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat bottom / cover