.page__cont .page__hero
  background url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat center / cover

.cont-conn
  padding 104px 0 101px

.cont-conn__row
  display flex

.cont-conn__desc
  flex-basis 400px
  padding-right 55px

.cont-conn__title
  margin-bottom 30px
  
  text-transform uppercase

.cont-conn__text
  margin-bottom 37px

.cont-conn__text p:not(:last-child)
  margin-bottom 24px

.cont-conn__social span 
  margin-right 20px

  font 14px / 1 baseFont2
  text-transform uppercase
  vertical-align 8px
  color blackColor

.cont-form
  position relative
  z-index $z-index1

  flex-basis 770px

.cont-form__nb
  position absolute
  bottom 15px
  right 0
  
  font 14px / 1 italicFont
  color greyColor

.cont-form__rows
  margin-bottom 25px

.cont-form__row
  display flex

.cont-form__row:not(:last-child)
  margin-bottom 30px

.cont-form__col_size_md
  flex-basis 50%

.cont-form__col_size_md:nth-child(odd)
  padding-right 15px

.cont-form__col_size_md:nth-child(even)
  padding-left 15px

.cont-form__col_size_lg
  flex-basis 100%

.cont-form label
  display block
  margin-bottom 12px

  font 14px / 1 baseFont2
  text-transform uppercase
  color blackColor

.cont-form input, textarea
  width 100%
  padding 6px 18px

  font-size 12px

  border 1px solid greyColor

.cont-form textarea 
  padding-bottom 0

.cont-form__submit
  padding 0 37px

  line-height 44px

.cont-info
  background-color blackColor 

.cont-info__row
  display flex
  justify-content space-between

  padding 40px 100px

.cont-info__col
  flex-basis 200px

.cont-info__col
  display flex
  align-items center

.cont-info__pic
  width 70px
  height 70px
  padding 12px

  text-align center

.cont-info__col svg 
  width 100% !important
  height 100% !important
  
  fill whiteColor 

.cont-info__col p
  font-size 12px
  letter-spacing -.1px
  color whiteColor

.wrap
  min-height 700px

  background-color greyColor

.wrap .container
  position relative

#map
  min-height 700px

.page__cont footer
  background url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat bottom / cover