.page__homepage .page__hero
  background url('img/content/homepage/annie-spratt-464747-unsplash_2000px.png') no-repeat center / cover

.page__homepage .page__heading
  max-width 100%
  margin-bottom 22px

  text-align left

.homepage .container
  position relative

.homepage section:not(:last-child)
  margin-bottom 150px

.homepage-about .page__heading
  margin-bottom 22px 

.homepage-about__row
  display flex

.homepage-about__about
  flex-basis 670px
  padding-right 100px

.homepage-about p:not(:last-child)
  margin-bottom 24px

.homepage-about__text-container
  margin-bottom 33px

.homepage-about .btn_color_orange
  padding 0 51px

  line-height 45px

.homepage-about__pic-container
  position relative
  flex-basis 500px

.homepage-about__pic-container::before
  content ''

  position absolute
  bottom 23px
  left -23px
  z-index -1

  width 100%
  height 100%

  border 2px solid rgba(greyColor,.3)

.homepage-about__pic-container::after
  @extend .homepage-about__pic-container::before
  bottom -23px
  left 23px

.homepage-about__pic-wrap
  position relative
  z-index $z-index1

  padding-top 480px
  background-color greyColor

  overflow hidden

.homepage-about__pic-container img
  position absolute
  top 0
  left 0
  z-index 0

  width 100%

.homepage-menu__tabs
  display flex
  margin-bottom 40px

.homepage-menu__tabs a
  position relative
  z-index $z-index
  
  display inline-block

.homepage-menu__tabs li:not(:last-child)
  margin-right 26px

.homepage-menu__tabs a.homepage-menu__tab-link_is_active
  color blackColor

.homepage-menu__tabs a.homepage-menu__tab-link_is_active::after
  content ''

  position absolute
  bottom 5px
  left 0
  z-index -1

  display block
  width 100%
  height 5px

  background-color yellowColor

.homepage-menu__row
  display flex
  flex-wrap wrap
  justify-content space-between

.homepage-menu__col
  flex-basis 570px

.homepage-menu__col:not(:nth-last-child(-n+2))
  @media (min-width 1024px)
    margin-bottom 30px

.homepage-dish
  display flex
  border 1px solid rgba(greyColor,.3)

.homepage-dish:hover
  box-shadow -10px 10px 35px rgba(greyColor,.5)

.homepage-dish__img-container
  position relative

  flex-basis 200px
  padding-top 150px

  background-color greyColor

  overflow hidden

.homepage-dish__img-container img 
  position absolute
  top 0
  left 0

  width 100%

.homepage-dish__desc
  padding 0 30px
  flex 1

.homepage-dish__name-and-price
  position relative
  
  padding 30px 0 10px

.homepage-dish__name-and-price::after
  content ''

  position absolute
  bottom 0
  left 0
  z-index $z-index1

  display block
  width 30px
  height 2px

  background-color yellowColor

.homepage-dish__name
  margin-bottom 8px

  font-size 18px

.homepage-dish__price
  font 14px / 1 baseFont2
  text-transform uppercase

.homepage-dish__composition
  margin-top 14px

.homepage-reserv .page__heading
  margin-bottom 32px

.homepage-reserv .reserv
  margin 0

.homepage-blog__row
  display flex

.homepage-blog__col
  flex 1

.homepage-blog__col:not(:last-child)
  margin-right 30px

.homepage-post__img-container
  position relative
  z-index $z-index1

  margin-bottom 23px
  padding-top 270px

  background-color greyColor

  overflow hidden

.homepage-post__img-container img 
  position absolute
  top -25%
  left 0
  
  width 100%

.homepage-post__date
  font-size 12px
  line-height 1

.homepage-post__name
  margin 9px 0 25px

  font-size 18px
  line-height 1

.homepage-post__desc
  margin-bottom 25px

.homepage-post__continue
  display inline-block

  font 14px / 1 baseFont2
  letter-spacing .5px
  text-transform uppercase
  color rgba(blackColor,.7)

.homepage-post__continue svg 
  width 18px !important
  height 18px !important
  margin-left 2px

  vertical-align -2px

  fill rgba(blackColor,.7)

.homepage-post__continue:hover
  color blackColor 

.homepage-post__continue:hover svg 
  fill blackColor

.homepage__view
  position absolute 
  top 4px
  right 9px
  z-index $z-index3

  display inline-block
  font 14px / 1 italicFont

.homepage__view svg 
  width 18px !important
  height 18px !important
  vertical-align -5px
  margin-left 0px

  fill greyColor

.homepage__view:hover
  color blackColor

.homepage__view:hover svg 
  fill blackColor

.page__homepage footer
  background url('img/content/homepage/annie-spratt-464747-unsplash_2000px.png') no-repeat bottom / cover