.page__home .hero
  background url('img/content/homepage/annie-spratt-464747-unsplash_2000px.png') no-repeat center / cover

.page__home .hero__title
  @media (orientation: portrait) and (max-width: 375px) 
    font-size 3.44em

.page__home .hero__tel
  @media (orientation portrait) and (max-width 480px),
  (orientation landscape) and (max-width 620px)
    max-width 35%
    span 
      margin 6px 0 0 0

.page__home .heading
  max-width 100%
  margin-bottom 22px

  text-align left

.home section:not(:last-child)
  margin-bottom 150px
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    margin-bottom 15%

.home-about-sect .heading
  margin-bottom 22px 

.home-about-row
  display flex

.home-about
  flex-basis 670px
  padding-right 100px
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    flex-basis 100%
  @media (orientation portrait) and (max-width 480px),
  (orientation landscape) and (max-width 720px)
    padding-right 0

.home-about p:not(:last-child)
  margin-bottom 24px

.home-about-text
  margin-bottom 33px

.home-about .btn_color_orange
  padding 0 51px

.home-about-pic-container
  position relative
  flex-basis 500px
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    display none

.home-about-pic-container::before
  content ''

  position absolute
  bottom 23px
  left -23px
  z-index -1

  width 100%
  height 100%

  border 2px solid rgba(greyColor,.3)

.home-about-pic-container::after
  @extend .home-about-pic-container::before
  bottom -23px
  left 23px

.home-about-pic-wrap
  position relative
  z-index $z-index1

  padding-top 480px
  background-color greyColor

  overflow hidden

.home-about-pic-container img
  position absolute
  top 0
  left 0
  z-index 0

  width 100%

.home-menu-tabs
  margin-bottom 40px

.home-menu-row
  display flex
  flex-wrap wrap
  justify-content space-between

.home-menu-col
  flex-basis 570px
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    flex-basis 49%
  @media (orientation portrait) and (max-width 480px),
  (orientation landscape) and (max-width 620px)
    flex-basis 100%

.home-menu-col:not(:nth-last-child(-n+2))
  @media (orientation portrait) and (min-width 1024px),
  (orientation landscape) and (min-width 1024px)
    margin-bottom 30px

.home-menu-col:not(:last-child)
  margin-bottom 30px
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 1024px)
    margin-bottom 2%
  @media (orientation portrait) and (max-width 480px),
  (orientation landscape) and (max-width 480px)
    margin-bottom 5%
  
.home-dish
  display flex
  border 1px solid rgba(greyColor,.3)

.home-dish-img-container
  position relative

  flex-basis 200px
  padding-top 150px

  background-color greyColor

  overflow hidden
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    flex-basis 150px
    padding-top 110px

.home-dish-img-container img 
  position absolute
  top 0
  left 0

  width 100%

.home-dish-desc
  padding 0 30px
  flex 1
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    padding 0 3%

.home-dish-name-and-price
  position relative
  
  padding 30px 0 10px
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    padding 3% 0 5%

.home-dish-name-and-price::after
  content ''

  position absolute
  bottom 0
  left 0
  z-index $z-index1

  display block
  width 30px
  height 2px

  background-color yellowColor

.home-dish-name
  margin-bottom 8px

  font-size 18px
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    margin-bottom 2%
    font-size 16px
  @media (orientation portrait) and (max-width 345px),
  (orientation landscape) and (max-width 720px)
    font-size 14px
  
.home-dish-price
  font 14px / 1 baseFont2
  text-transform uppercase

.home-dish-comp
  margin-top 14px
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    margin-top 1%

.home-res-sect .reserv
  margin 0

.home-blog-row
  display flex
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    flex-wrap wrap

.home-blog-col
  flex 1
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    flex 1 0 100%

.home-blog-col:not(:last-child)
  margin-right 30px
  @media (orientation portrait) and (max-width 768px)
    margin 0 0 10%
  @media (orientation landscape) and (max-width 960px)
    margin 0 0 5%
  @media (orientation landscape) and (max-width 720px)
    margin 0 0 10%

.home-post-img-container
  position relative
  z-index $z-index1

  margin-bottom 23px
  padding-top 270px

  background-color greyColor

  overflow hidden
  @media (orientation portrait) and (max-width 768px),
  (orientation landscape) and (max-width 960px)
    padding-top 300px
  @media (orientation portrait) and (max-width 480px),
  (orientation landscape) and (max-width 720px)
    padding-top 260px

.home-post-img-container img 
  position absolute
  top -25%
  left 0
  
  width 100%
  @media (orientation portrait) and (max-width 768px)
    top -55%

.home-post-date
  font-size 12px
  line-height 1

.home-post-name
  margin 9px 0 25px

  font-size 18px
  line-height 1

.home-post-desc
  margin-bottom 25px

.home-post-continue
  display inline-block

  font 14px / 1 baseFont2
  letter-spacing .5px
  text-transform uppercase
  color rgba(blackColor,.7)

.home-post-continue svg 
  width 18px !important
  height 18px !important
  margin-left 2px

  vertical-align -2px

  fill rgba(blackColor,.7)

.home-post-continue:hover
  color blackColor 

.home-post-continue:hover svg 
  fill blackColor

.home-view
  position absolute 
  top 4px
  right 9px
  z-index $z-index3

  display inline-block
  font-family italicFont
  line-height 1
  @media (orientation portrait) and (max-width 768px)
    top 0

.home-view svg 
  width 18px !important
  height 18px !important
  vertical-align -5px
  margin-left 0px

  fill greyColor

.home-view:hover
  color blackColor

.home-view:hover svg 
  fill blackColor

.page__home footer
  background url('img/content/homepage/annie-spratt-464747-unsplash_2000px.png') no-repeat bottom / cover