.page__menu .hero
  background url('img/content/our-menu-list/andersen-jensen-637701-unsplash_2000px.png') no-repeat top / cover

.our-menu .heading
  margin-bottom 45px

.our-menu-hero
  position relative
  z-index $z-index1

  margin-bottom 52px 
  padding 157px 0

  text-align center
 
  background-color greyColor
  @media (orientation portrait) and (max-width 1024px)
    padding 15% 0
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    padding 22% 0
  @media (orientation portrait) and (max-width 375px)
    margin-bottom 10%
    padding 32% 0
  @media (orientation landscape) and (max-width 960px)
    margin-bottom 5%

.our-menu-hero::after
  @extend .hero::after

.our-menu-title
  @extend .hero__title
  @media (orientation portrait) and (max-width 375px)
    font-size 3.44em !important

.our-menu-subtitle 
  @extend .hero__title span
  width 100%
  font-size 1.44em !important 

.our-menu-cont
  display flex
  flex-wrap wrap
  justify-content space-between

.our-menu-dish
  flex-basis 570px
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 1024px)
    flex-basis 48%
  @media (orientation portrait) and (max-width 768px)
    flex-basis 100%
 
.our-menu-dish:not(:nth-last-child(-n+2))
  margin-bottom 40px
  @media (orientation portrait) and (max-width 768px)
    margin-bottom 0
  @media (orientation landscape) and (max-width 960px)
    margin-bottom 5%

.our-menu-dish:not(:last-child)
  @media (orientation portrait) and (max-width 768px)
    margin-bottom 30px

.our-menu-name-and-price
  margin-bottom 8px

  font 18px / 1 baseFont2
  @media (orientation portrait) and (max-width 375px),
  (orientation landscape) and (max-width 720px)
    margin-bottom 2%

    font-size 14px

.our-menu-name-and-price::after
  content ''
  display table
  clear both

.our-menu-name 
  float left

  color blackColor

.our-menu-price
  float right

  color greyColor 

.our-menu-item:not(:last-child)
  margin-bottom 45px
  @media (orientation portrait) and (max-width 768px)
    margin-bottom 5%

.page__our-menu footer 
  background url('img/content/our-menu-list/andersen-jensen-637701-unsplash_2000px.png') no-repeat bottom / cover