.page__our-menu .page__hero
  background url('img/content/our-menu-list/andersen-jensen-637701-unsplash_2000px.png') no-repeat top / cover

.our-menu .page__heading
  margin-bottom 45px

.our-menu-item__hero
  position relative
  z-index $z-index1

  margin-bottom 52px 
  padding 157px 0

  text-align center
 
  background-color greyColor

.our-menu-item__hero::after
  @extend .page__hero::after

.our-menu-item__subtitle 
  @extend .page__caption span 

.our-menu-item__title
  @extend .page__caption

.our-menu__item:not(:last-child)
  margin-bottom 45px

.our-menu-item__cont
  display flex
  flex-wrap wrap
  justify-content space-between

.our-menu-item__dish
  flex-basis 570px

.our-menu-item__dish:not(:nth-last-child(-n+2))
  margin-bottom 40px

.our-menu-item__name-and-price
  margin-bottom 8px

  font 18px / 1 baseFont2

.our-menu-item__name-and-price::after
  content ''
  display table
  clear both

.our-menu-item__name 
  float left

  color blackColor

.our-menu-item__price
  float right

  color greyColor 

.page__our-menu footer 
  background url('img/content/our-menu-list/andersen-jensen-637701-unsplash_2000px.png') no-repeat bottom / cover