.page__res .hero
  background url('img/content/reservation/florencia-viadana_2000px.png') no-repeat center / cover

.page__res footer 
  background url('img/content/reservation/florencia-viadana_2000px.png') no-repeat bottom / cover