.page__reserv .hero
  background url('img/content/reservation/florencia-viadana_2000px.png') no-repeat center / cover

.reserv__row
  position relative
  z-index $z-index1

  display flex

  margin-top 39px
  padding 0 70px

  background url('img/content/reservation/david-clarke_1200px.png') no-repeat center / cover
  @media (orientation portrait) and (max-width 1024px)
    flex-wrap wrap
    justify-content center
  @media (orientation portrait) and (max-width 768px)
    padding 5% 70px 10%
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    padding 5% 10px 10%
 
.reserv__row::after
  content ''

  position absolute
  top 0
  left 0
  z-index -1

  width 100%
  height 100%

  background-color rgba(blackColor,.7)

.reserv__col 
  @media (orientation portrait) and (max-width 1024px)
    flex-basis 70%
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    flex-basis 95%

.reserv__form-container
  padding-right 70px
  @media (orientation portrait) and (max-width 1024px)
    padding-right 0

.reserv__form
  padding-top 64px
  @media (orientation portrait) and (max-width 768px)
    padding-top 0

.reserv-form__nb
  margin-bottom 22px
  padding-right 50px

  color whiteColor
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    padding-right 5%

.reserv-form__nb span 
  color yellowColor

.reserv-form__rows
  margin-bottom 30px

.reserv-form__row
  display flex

.reserv-form__row:not(:last-child)
  margin-bottom 31px

.reserv-form__col_size_md
  flex-basis 50%

.reserv-form__col_size_md:nth-child(odd)
  padding-right 5px

.reserv-form__col_size_md:nth-child(even)
  padding-left 5px

.reserv-form__col_size_lg
  flex-basis 100%

.reserv-form label
  display block
  margin-bottom 8px

  font 14px / 1 baseFont2
  letter-spacing .7px
  text-transform uppercase
  color whiteColor

.reserv-form input
  width 100%
  padding 8px 20px 

  font-size 12px

  background-color whiteColor 

.reserv__location
  @media (orientation portrait) and (max-width 1024px)
    text-align center
  @media (orientation portrait) and (max-width 768px) 
    display none

.reserv__location img
  width 500px
  height 420px

  transform translateY(70px)

.reserv-form__btn-submit
  padding 0 36px

  line-height 44px

.page__reserv footer 
  background url('img/content/reservation/florencia-viadana_2000px.png') no-repeat bottom / cover