@import 'base/_typography.styl'
@import 'base/_reset.styl'
@import '_var.styl'
@import '_mixin.styl'
@import 'layout/_layout.styl'

@import 'components/_buttons.styl'

.logo
  subTitleFont = "lora-regular"

  display inline-block

  font 2.71em / 1 logoFont
  text-transform uppercase
  color whiteColor
  span 
    display block
    padding-left 3px
    font-size .26em
  @media (orientation portrait) and (max-width 1024px),
  (orientation landscape) and (max-width 960px)
    margin-bottom -16px
  @media (orientation portrait) and (max-width 345px)
    margin-bottom -4px
    font-size 2.11em
    span 
      display none

.hero
  position relative
  z-index $z-index1

  display flex
  flex-direction column
  justify-content space-between

  height 100vh
  padding 30px 0

  background-color rgba(blackColor,.7)
  &::after
    content ''

    position absolute 
    top 0
    left 0
    z-index -1 

    width 100%
    height 100%

    background-color rgba(blackColor,.3)
  @media (orientation portrait) and (max-width 1024px)
    padding 3% 0

.hero > .bug-fix-ie
  flex 1 1 auto

  display flex
  align-items center
  justify-content center

.hero__title
  // font-size 72px
  font-size 5.14em
  text-align center
  text-transform uppercase
  color whiteColor
  span 
    display inline-block
    margin-bottom -6px

    font 1.66em / 1 greatFont
    text-transform lowercase
    color yellowColor
  @media (orientation portrait) and (max-width 375px)
    font-size 4.44em

.hero__inf
  padding 0 50px
  @media (orientation portrait) and (max-width 1024px)
    padding 0 3%

.hero__inf_align_center
  text-align center
  @media (orientation portrait) and (max-width 1024px)
    padding 0 3%

.hero__tel
  margin-bottom 12px

  letter-spacing .6px
  font 14px / 1 baseFont2
  text-transform uppercase
  color whiteColor
  span 
    display inline-block
    margin-left 6px

    color yellowColor

.social
  display inline-block
  width 110px
  ul
    display flex
    align-items center
    justify-content space-between
  a
    display block
    width 30px
    height 30px

    text-align center

    background-color greyColor
    border-radius 50%
    svg 
      width 45%
      fill whiteColor
    &:hover
      background-color yellowColor 
      svg 
        fill blackColor

.btn-scroll,
.btn-scroll:before
  position absolute
  left 50%
  z-index $z-index9

.btn-scroll
  bottom 6%

  width 26px
  height 45px
  margin-left -12px
  margin-top -35px
  
  box-shadow inset 0 0 0 1px #fff
  border-radius 25px
  @media (orientation portrait) and (max-width 1024px)
    bottom 4%

.btn-scroll:before
  content ''
  
  top 8px

  width 3px
  height 3px
  margin-left -1px

  background #fff
  border-radius 4px
  
  animation-duration 1.5s
  animation-iteration-count infinite
  animation-name scroll

@keyframes scroll
  0%
    opacity: 1
  100%
    opacity: 0
    transform: translateY(21px)

.page__main
  padding 150px 0
  @media (orientation portrait) and (max-width 768px)
    padding 15% 0

.heading
  max-width 770px
  margin 0 auto

  text-align center

.heading__subtitle
  display inline-block

  font-family baseFont2
  line-height 1
  text-transform uppercase
  color blackColor

.heading__title
  margin-top 50px

  text-transform uppercase
  color blackColor
  @media (orientation portrait) and (max-width 620px),
  (orientation landscape) and (max-width 960px)
    margin-top 32px

.heading__title + p
  margin-top 18px

@import 'our-menu.styl'
@import 'team.styl'
@import 'reservation.styl'
@import 'contact.styl'

//- Некоторые стили импортируются из reservation.styl
@import 'homepage.styl'
@import 'about.styl'

@import 'components/_header.styl'
@import 'components/_nav.styl'
@import 'components/_footer.styl'