@font-face
  font-family "antonio-bold"
  src: url("fonts/antonio/antonio-bold-webfont.woff2") format("woff2"),
       url("fonts/antonio/antonio-bold-webfont.woff") format("woff")

@font-face
  font-family "antonio-light"
  src: url("fonts/antonio/antonio-light-webfont.woff2") format("woff2"),
       url("fonts/antonio/antonio-light-webfont.woff") format("woff")

@font-face
  font-family "antonio-regular"
  src: url("fonts/antonio/antonio-regular-webfont.woff2") format("woff2"),
       url("fonts/antonio/antonio-regular-webfont.woff") format("woff")

@font-face
  font-family "great-vibes-regular"
  src: url("fonts/great_vibes/great-vibes-regular-webfont.woff2") format("woff2"),
       url("fonts/great_vibes/great-vibes-regular-webfont.woff") format("woff")

@font-face
  font-family "lora-bold-italic"
  src: url("fonts/lora/lora-bold-italic-webfont.woff2") format("woff2"),
       url("fonts/lora/lora-bold-italic-webfont.woff") format("woff")

@font-face
  font-family "lora-bold"
  src: url("fonts/lora/lora-bold-webfont.woff2") format("woff2"),
       url("fonts/lora/lora-bold-webfont.woff") format("woff")

@font-face
  font-family "lora-italic"
  src: url("fonts/lora/lora-italic-webfont.woff2") format("woff2"),
       url("fonts/lora/lora-italic-webfont.woff") format("woff")

@font-face
  font-family "lora-regular"
  src: url("fonts/lora/lora-regular-webfont.woff2") format("woff2"),
       url("fonts/lora/lora-regular-webfont.woff") format("woff")