-
  const contentHeaderText = 'Vestibulum quis posuere ligula. \
    Fusce in odio ac diam finibus tempus. Suspendisse potenti. \
    Etiam accumsan purus magna, et viverra neque volutpat fermentum. \
    Vivamus consequat, felis at aliquam elementum, \
    massa sem dignissim elit sit amet cursus massa tortor eget ante.'

-
  const breakFast = { 
    'header': {
      'img': 'img/content/our-menu-list/alison-marras-361028-unsplash_1200px.png',
      'subtitle': 'fresh',
      'title': '#Breakfast'
    },
    'dishes':  [
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      }
    ]
  }

-
  const lunch = { 
    'header': {
      'img': 'img/content/our-menu-list/kristina-bratko-748111-unsplash_1200px.png',
      'subtitle': 'tasty',
      'title': '#Lunch'
    },
    'dishes':  [
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      }
    ]
  }

-
  const dinner = { 
    'header': {
      'img': 'img/content/our-menu-list/brooke-lark-200710-unsplash_1200px.png',
      'subtitle': 'delicious',
      'title': '#Dinner'
    },
    'dishes':  [
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      },
      {
        'dish': 'Poach eggs and asparagus',
        'composition': 'Eggs, asparagus, bread, toased, buttered',
        'price': '$4.49'
      }
    ]
  }