-
  const textHeaderAboutUsSection = 'Vestibulum quis posuere ligula. \
    Fusce in odio ac diam finibus tempus. \
    Suspendisse potenti. \
    Etiam accumsan purus magna, et viverra neque volutpat fermentum. \
    Vivamus consequat, felis at aliquam elementum, \
    massa sem dignissim elit sit amet cursus massa tortor eget ante.'

-
  const textAboutFoodSection = 'Morbi mattis, lorem sit amet gravida eleifend, \
  nisl felis tincidunt dui, \
  nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula. \
  Quisque eleifend volutpat orci nec fermentum. \
  Curabitur quis dignissim nibh. Suspendisse potenti. Vivamus dictum volutpat dapibus. Fusce sed varius massa.'