include ../helpers/_var
include ../helpers/_mixin

include ../helpers/_var-homepage-page
include ../helpers/_mixin-homepage-page

include ../helpers/_var-our-menu-page
include ../helpers/_mixin-our-menu-page

include ../helpers/_var-team-page
include ../helpers/_mixin-team-page

doctype

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")

    block title

    link(rel="stylesheet", href="normalize.css")    
    link(rel="stylesheet", href="styles.min.css")

    block styles

    block scripts

  body.page 
    block content

    //- script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
    script(src="common.min.js")