
include ../helpers/_var
include ../helpers/_mixin

doctype

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")

    block title

    link(rel="stylesheet", href="libs/css/normalize.css") 
    block styles

    link(rel="stylesheet", href="styles.min.css")
    
    script(src="libs/js/jquery.min.js")

    // gsap plugins
    script(src='libs/js/TweenMax.min.js')
    script(src='libs/js/TimelineMax.min.js')
    // gsap plugins end

    // scroll magic plugin
    script(src="libs/js/ScrollMagic.min.js")
    script(src="libs/js/animation.gsap.min.js")
    
    script(src="libs/js/debug.addIndicators.min.js")
    // scroll magic plugin end

  body.page(style="overflow: hidden")

    #preloader
      img(src="img/general/preloader.gif")

    script.
      var preloader = document.querySelector('#preloader');

      // no scroll on touch devices
      preloader.addEventListener('touchmove', function (e) {return e.preventDefault();});

      window.addEventListener('load', function () {
        document.body.removeAttribute('style');
        preloader.style.display = 'none';
      });

    #js-scroll-content
      block content

    script(src="common.min.js")