body
  font 14px / 24px baseFont 
  color baseColorFont

.container
  width 98%
  max-width 1200px
  margin 0 auto
  
  padding 0 15px
  
for $n in (1..6)
  h{$n}
    font 48px / 1 titleFont 
    color baseColorTitleFont