-
  const social = [
    {
    'icon': 'sprite-svg.svg#fb', 
    'href': 'javascript:void(0);'
    },
    {
    'icon': 'sprite-svg.svg#tw',
    'href': 'javascript:void(0);'
    },
    {
    'icon': 'sprite-svg.svg#fq',
    'href': 'javascript:void(0);'
    }
  ] 

-
  const general = {
    'name': 'Russell Stephens',
    'position': 'General manager',
    'avatar': 'img/content/team/ryan-holloway-351140-unsplash_500px.png', 
    'social': [
      {
        'icon': 'sprite-svg.svg#fb',
        'href': 'javascript:void(0);'
      },
      {
        'icon': 'sprite-svg.svg#tw',
        'href': 'javascript:void(0);'
      },
      {
        'icon': 'sprite-svg.svg#inst',
        'href': 'javascript:void(0);'
      }
    ]
  }

-
  const chef = {
    'name': 'Robert Jones',
    'position': 'Chef',
    'avatar': 'img/content/team/jeslyn-chanchaleune-349125-unsplash_500px.png',
    'social': [
      {
        'icon': 'sprite-svg.svg#fb',
        'href': 'javascript:void(0);'
      },
      {
        'icon': 'sprite-svg.svg#tw',
        'href': 'javascript:void(0);'
      },
      {
        'icon': 'sprite-svg.svg#inst',
        'href': 'javascript:void(0);'
      }
    ] 
  }

-
  const managers = [ 
    {
      'name': 'Samantha Rogers',
      'position': 'Manager',
      'avatar': 'img/content/team/rawpixel-660724-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    },
    {
      'name': 'Gaby Harris',
      'position': 'Manager',
      'avatar': 'img/content/team/sage-kirk-485982-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ] 
    }
  ]

-
  const waiters = [
    {
      'name': 'Willie Crawford',
      'position': 'Waiter',
      'avatar': 'img/content/team/cbx-263152-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    },
    {
      'name': 'Rose Lopez',
      'position': 'Waiter',
      'avatar': 'img/content/team/matheus-ferrero-233592-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ] 
    },
    {
      'name': 'Sam Hanson',
      'position': 'Waiter',
      'avatar': 'img/content/team/nathan-dumlao-486999-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    }
  ]

-
  const membersPage = [
    {
      'name': 'Russell Stephens',
      'position': 'General manager',
      'avatar': 'img/content/team/ryan-holloway-351140-unsplash_500px.png', 
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    },
    {
      'name': 'Robert Jones',
      'position': 'Chef',
      'avatar': 'img/content/team/jeslyn-chanchaleune-349125-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ] 
    },
    {
      'name': 'Willie Crawford',
      'position': 'Waiter',
      'avatar': 'img/content/team/cbx-263152-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    },
    {
      'name': 'Samantha Rogers',
      'position': 'Manager',
      'avatar': 'img/content/team/rawpixel-660724-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    },
    {
      'name': 'Rose Lopez',
      'position': 'Waiter',
      'avatar': 'img/content/team/matheus-ferrero-233592-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ] 
    },
    {
      'name': 'Sam Hanson',
      'position': 'Waiter',
      'avatar': 'img/content/team/nathan-dumlao-486999-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    }
  ]

-
  const membersPage2 = [
    {
      'name': 'Gaby Harris',
      'position': 'Manager',
      'avatar': 'img/content/team/sage-kirk-485982-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ] 
    },
    {
      'name': 'Jack Smith',
      'position': 'Cook',
      'avatar': 'img/content/team/philip-martin-596374-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    },
    {
      'name': 'Oliver Brown',
      'position': 'Cook',
      'avatar': 'img/content/team/jakob-owens-224343-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ]
    },
    {
      'name': 'Mike Miller',
      'position': 'Cook',
      'avatar': 'img/content/team/ali-yahya-581800-unsplash_500px.png',
      'social': [
        {
          'icon': 'sprite-svg.svg#fb',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#tw',
          'href': 'javascript:void(0);'
        },
        {
          'icon': 'sprite-svg.svg#inst',
          'href': 'javascript:void(0);'
        }
      ] 
    }
  ]