-
  const menu = [
    {
      'img': 'img/content/dish/cayla1-150730-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/taylor-kiser-373466-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/mariana-medvedeva-379652-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/vitchakorn-koonyosying-494170-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/le-buzz-576478-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/vitchakorn-koonyosying-494183-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/toa-heftiba-296458-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/taylor-kiser-373479-unsplash_500px.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    }
  ]

-
  const posts = [
    {
      'src': 'img/content/homepage/david-vazquez-330547-unsplash_500px.png',
      'name': 'How to eat healthy with organic foods',
      'text': 'Morbi mattis, lorem sit amet gravida eleifend, nisl felis tincidunt dui, nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula.',  
      'date': 'Jul 9th, 2018'
    },
    {
      'src': 'img/content/homepage/deryn-macey-508307-unsplash_500px.png',
      'name': 'How to eat healthy with organic foods',
      'text': 'Morbi mattis, lorem sit amet gravida eleifend, nisl felis tincidunt dui, nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula.',  
      'date': 'Jul 9th, 2018'
    },
    {
      'src': 'img/content/homepage/jen-p-775128-unsplash_500px.png',
      'name': 'How to eat healthy with organic foods',
      'text': 'Morbi mattis, lorem sit amet gravida eleifend, nisl felis tincidunt dui, nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula.',  
      'date': 'Jul 9th, 2018'
    }
  ]