-
  const social = [
    {
    'icon': 'sprite-svg.svg#fb', 
    'href': 'javascript:void(0);'
    },
    {
    'icon': 'sprite-svg.svg#tw',
    'href': 'javascript:void(0);'
    },
    {
    'icon': 'sprite-svg.svg#fq',
    'href': 'javascript:void(0);'
    }
  ] 