include ../helpers/variables/_var-homepage-page
include ../helpers/variables/_var-about-us-page
include ../helpers/variables/_var-our-menu-page
include ../helpers/variables/_var-team-page

-
  const social = [
    {
    'icon': 'sprite-svg.svg#fb', 
    'href': 'javascript:void(0);'
    },
    {
    'icon': 'sprite-svg.svg#tw',
    'href': 'javascript:void(0);'
    },
    {
    'icon': 'sprite-svg.svg#fq',
    'href': 'javascript:void(0);'
    }
  ] 