-
  const menu = [
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    },
    {
      'img': 'img/content/dish/.png',
      'name': 'Poached eggs and asparagus',
      'composition': 'Eggs, asparagus, bread, toased, buttered',
      'price': '$4.49'
    }
  ]

-
  const posts = [
    {
      'src': 'img/content/post/.png',
      'name': 'How to eat healthy with organic foods',
      'text': 'Morbi mattis, lorem sit amet gravida eleifend, nisl felis tincidunt dui, nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula.',  
      'date': 'Jul 9th, 2018'
    },
    {
      'src': 'img/content/post/.png',
      'name': 'How to eat healthy with organic foods',
      'text': 'Morbi mattis, lorem sit amet gravida eleifend, nisl felis tincidunt dui, nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula.',  
      'date': 'Jul 9th, 2018'
    },
    {
      'src': 'img/content/post/.png',
      'name': 'How to eat healthy with organic foods',
      'text': 'Morbi mattis, lorem sit amet gravida eleifend, nisl felis tincidunt dui, nec porta turpis ligula eu nisl. Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula.',  
      'date': 'Jul 9th, 2018'
    }
  ]