footer.footer
  .footer__inner
    h5.footer__logo
      a(href="homepage.html") chew <span>restaurant</span>

    .container
      ul.footer__list-inf
        li.footer__item.footer__address
          h6.footer__caption Address
          p 16/8 W 19th St, Chelsea  
          p Manhattan, NY 10001
        li.footer__item.footer__open-time
          h6.footer__caption Open time
          p Mon-Fri: 8:00 - 22:00
          p Sat-Sun: 9:00 - 21:00
        li.footer__item.footer__phone
          h6.footer__caption Phone
          p 212-342-67382
        li.footer__item.footer__email
          h6.footer__caption Email
          p reservation@chew.com 
          p info@chew.com 
            
    .footer__social
      +social(social)
