header.js-animation-fade-out.js-animation-translate-y-down
  a(href="homepage.html").logo.header__logo chew <span>restaurant</span>

  include _nav

  .header__btn-container
    a(href="reservation-opentable-page.html").header__btn.header__btn_color_transparent.btn.btn_color_transparent.
      make a reservation