nav.mainnav
  ul.mainnav__list
    li.mainnav__item
      a(href="javasciprt:void(0);").mainnav__link Home 

    li.mainnav__item
      a(href="our-menu-page.html").mainnav__link Menus 

    li.mainnav__item
      a(href="javasciprt:void(0);").mainnav__link Reservation

    li.mainnav__item
      a(href="javasciprt:void(0);").mainnav__link Gallery 

    li.mainnav__item
      a(href="javasciprt:void(0);").mainnav__link Blog 

    li.mainnav__item
      a(href="javasciprt:void(0);").mainnav__link Pages 

    li.mainnav__item
      a(href="javasciprt:void(0);").mainnav__link Contact
  