nav.nav.header__nav
  ul
    li
      a(href="homepage-page.html") Home 

    li
      a(href="about-us-page.html") About

    li
      a(href="our-menu-page.html") Menus 

    li
      a(href="reservation-opentable-page.html") Reservation

    li
      a(href="team-page-all.html") Team 

    li
      a(href="contact-page.html") Contact
  