nav.nav.header__nav
  button(type="button", data-open="collapse", data-target="#nav-bar-content")
    svg
      use(xlink:href="sprite-svg.svg#menu")

  .navbar.collapse#nav-bar-content
    ul
      li
        a(href="homepage.html") Home 

      li
        a(href="about-us-page.html") About

      li
        a(href="our-menu-page.html") Menus 

      li
        a(href="reservation-opentable-page.html") Reservation

      li
        a(href="team-page-all.html") Team 

      li
        a(href="contact-page.html") Contact

  button(type="button", data-close="collapse", data-target="#nav-bar-content")
    svg
      use(xlink:href="sprite-svg.svg#close")
  