nav.mainnav
  ul.mainnav__list
    li.mainnav__item
      a(href="homepage-page.html").mainnav__link Home 

    li.mainnav__item
      a(href="our-menu-page.html").mainnav__link Menus 

    li.mainnav__item
      a(href="reservation-opentable-page.html").mainnav__link Reservation

    li.mainnav__item
      a(href="team-page-all.html").mainnav__link Team 

    li.mainnav__item
      a(href="contact-page.html").mainnav__link Contact
  