extends layout/_layout

block title
  title Chew contact

block content
  .page__cont
    +hero("let's", "contact us")

    main
      .cont
        //- Section connect
        section
          .cont-connect-sect
            .container
              .cont-connect-row
                .cont-connect-col.cont-connect-desc
                  //- h3.cont-connect-title Drop us a line 
                  +contentHeader('', 'Drop us a line')

                  .cont-connect-text
                    p.
                      Pellentesque a massa risus. Cras convallis finibus porta. 
                      Integer in ligula leo. Cras quis consequat nisl, at malesuada sapien. 
                      Mauris ultricies nisi eget velit bibendum, sit amet euismod mi gravida.
                    p.
                      Cum sociis natoque penatibus et magnis dis parturient montes, 
                      nascetur ridiculus mus. Pellentesque non laoreet risus, 
                      id elementum purus.
                  .cont-connect-social
                    span Follow us via:
                    +social(social)
                form(action="contact.php", method="post").cont-connect-col.cont-connect-form#cont-form
                  p.cont-form-nb *Note: We respect your privacy. Your email will be kept secretly.

                  //- contact form rows
                  .cont-form-rows
                    .cont-form-row
                      .cont-form-col.cont-form-col-size-md
                        label(for="cont-conect-user-name") Your name*
                        input(type="text", name="user-name", placeholder="Enter your name")#cont-conect-user-name
                      .cont-form-col.cont-form-col-size-md
                        label(for="cont-conect-user-email") Your email*
                        input(type="text", name="user-email", placeholder="Enter your email")#cont-conect-user-email
                    .cont-form-row
                      .cont-form-col.cont-form-col-size-lg
                        label(for="cont-conect-user-message") Your message*
                        textarea(name="user-message", rows="8", placeholder="Your message goes here")#cont-conect-user-message
                  //- contact form rows end

                  .cont-form-btn-container 
                    button(type="submit").cont-form-submit.btn.btn_color_orange Send us
        //- Section connect end

        //- Section info us
        section.visually-mobile-none
          h3.visually-hidden Information about us

          .cont-info
            .container
              .cont-info-row
                //- По какой то неведомой причине box-sizing узла .cont-info__pic игнорируется
                //- и потому обертываем его в обычный div. Возможно данная особеность как то связанна с flexbox
                
                .cont-info-col
                  div
                    .cont-info-pic
                      svg
                        use(xlink:href='sprite-svg.svg#pin')
                  p.
                    16/8 W 19th St, Chelsea <br>
                    Manhattan, NY 10001
                .cont-info-col
                  div
                    .cont-info-pic
                      svg
                        use(xlink:href='sprite-svg.svg#call')
                  p.
                    212-342-67382
                .cont-info-col
                  div
                    .cont-info-pic
                      svg
                        use(xlink:href='sprite-svg.svg#mail')
                  p.
                    reservation@chew.com info@chew.com
        //- Section info us end

    include modules/_footer