extends layout/_layout

block title
  title chew homepage

block content 

  .page__home
    +hero('welcome to', 'chew restaurant', true)

    main  
      .page__main.home
        //- Section homepage about
        section
          .home-about-sect
            .container
              .home-about-row
                .home-about-col.home-about
                  +contentHeader('about us', 'where all dreams came true')

                  .home-about-text
                    p.
                      Morbi mattis, lorem sit amet gravida eleifend, 
                      nisl felis tincidunt dui, nec porta turpis ligula eu nisl. 
                      Donec lacus dolor, facilisis at tortor ac, congue vulputate ligula. 
                      Quisque eleifend volutpat orci nec fermentum. Curabitur quis dignissim nibh.
                    p.
                      Praesent venenatis ultricies erat. Nunc fringilla eros vitae nisl posuere, 
                      ut consectetur nulla feugiat. Nullam ut mauris vitae tortor sodales efficitur. 
                      Quisque ac orci ante. Proin sit amet turpis lobortis, imperdiet nisi ut, 
                      viverra lorem. 
                    p.
                      Nullam ex massa, euismod vel metus non, pellentesque tincidunt neque. 
                      Mauris suscipit ut purus id congue. Etiam ornare condimentum massa et scelerisque.
                  a(href="about-us-page.html").btn.btn_color_orange Learn More
                .home-about-col.home-about-pic-container
                  .home-about-pic-wrap
                    img(src="img/content/homepage/cayla1-150730-unsplash_700px.png", alt="dish")
        //- Section homepage about end
        
        //- Section homepage menu
        section 
          .home-menu-sect
            .container
              +contentHeader('Featured menus', 'discover our popular dishes')

              ul.tabs.home-menu-tabs
                li.tabs__tab
                  a(href="homepage.html") All
                
                li.tabs__tab
                  a(href="homepage-dish-breakfast.html") Breakfast 

                li.tabs__tab
                  a(href="homepage-dish-lunch") Lunch
                
                li.tabs__tab.tabs__tab_state_active
                  a(href="javascript:void(0);") Dinner

                li.tabs__tab
                  a(href="homepage-dish-drinks.html") Drinks

              .home-menu-row
                each dish in menu
                  .home-menu-col 
                    +dish(dish.img, dish.name, dish.composition, dish.price)
              a(href="our-menu-page.html").home-view View all menus
                svg
                  use(xlink:href="sprite-svg.svg#arrow-round-forward")
        //- Section homepage menu end

        //- Section homepage reservation
        section
          .home-res-sect
            .container
              +contentHeader('Reservation', 'Book a table')

              +reservationForm('homepage-reservation-table-form')      
        //- Section homepage reservation end

        //- Section homepage blog 
        section
          .home-blog-sect
            .container
              +contentHeader('From our blog', 'Get our latest news')

              .home-blog-row
                each post in posts
                  .home-blog-col
                    +post(post.src, post.name, post.text, post.date)      
              a(href="javascript:void(0);").home-view View all blog posts
                svg
                  use(xlink:href="sprite-svg.svg#arrow-round-forward")
        //- Section homepage blog end

    include modules/_footer