extends layout/_layout

block title
  title Chew menu

block content 
  .page__menu
    +hero('taste', 'our menus')

    main
      .page__main.our-menu
        .container

          +contentHeader('Menu set', 'Explore our fantastic menus', contentHeaderText)

          .our-menu-items
            - const arrayObjects = [breakFast, lunch, dinner]

            each obj in arrayObjects
              +buildMenuItem(obj)        

    include modules/_footer