extends layout/_layout

block title
  title Chew reservation

block content
  .page__reserv
    +hero('make', 'reservation')

    main
      .page__main
        section
          h3.visually-hidden Reservation
          
          .container
            +contentHeader('Powered by open table', 'Booking a table')

            +reservationForm('reserv-reservation-table-form')
    
    include modules/_footer