extends layout/_layout

block title
  title Chew reservation

block content
  .page__res
    +hero('make', 'reservation')

    main
      .page__main.res-table
        section
          .res-table-sect
            .container
              +contentHeader('Powered by open table', 'Booking a table')

              +reservationForm('reserv-reservation-table-form')
    
    include modules/_footer