extends layout/_layout

block title 
  title chew

block content
  .page__team
    +hero('meet', 'our team')

    main.page__main.team
      .container
        +contentHeader('meet our staff', 'we love our customers')
        
        ul.team__tabs
          li.team__tab
            a(href="team-page-all.html") All

          li.team__tab
            a(href="team-page-chef.html") Chef
          
          li.team__tab.team__tab_state_active
            a(href="javascript:void(0);") Waiter

          li.team__tab
            a(href="team-page-manager.html") Manager

        //- team members
        .team__members 
          if (waiters.length > 0 && Array.isArray(waiters))
            each waiter in waiters
              +memberOfTheTeam(waiter.avatar, waiter.name, waiter.position, waiter.social)
          else
            - var waiter = waiters
            +memberOfTheTeam(waiter.avatar, waiter.name, waiter.position, waiter.social)
        //- team members end

    include modules/_footer