extends layout/_layout

block title 
  title chew team

block content
  .page__team
  
    +hero('meet', 'our team')

    main
      .page__main.team
        .container
          +contentHeader('meet our staff', 'we love our customers')
          
          ul.tabs.team-tabs
            li.tabs__tab.tabs__tab_state_active
              a(href="javascript:void(0);") All

            li.tabs__tab
              a(href="team-page-chef.html") Chef
            
            li.tabs__tab
              a(href="team-page-waiter.html") Waiter

            li.tabs__tab
              a(href="team-page-manager.html") Manager

          //- team members
          .team-row
            if (membersPage.length > 0 && Array.isArray(membersPage))
              each member in membersPage
                .team-col 
                  +memberOfTheTeam(member.avatar, member.name, member.position, member.social)
            else
              - var member = membersPage
              .team-col  
                +memberOfTheTeam(member.avatar, member.name, member.position, member.social)
          //- team members end

          .paginator.team-paginator
            a(href="javascript:void(0);").paginator-arrow-back
              svg
                use(xlink:href="sprite-svg.svg#arrow-round-back")
            a(href="javascript:void(0);").active.
              1
            a(href="team-page-all-second.html").
              2
            a(href="team-page-all-second.html").paginator-arrow-forward
              svg
                use(xlink:href="sprite-svg.svg#arrow-round-forward")

    include modules/_footer