extends layout/_layout

block title 
  title chew

block content
  .page__team
    +hero('meet', 'our team')

    main.page__main.team
      .container
        
        //- team top

        //- team top end

        //- team members

        //- team members end  

    include modules/_footer