extends layout/_layout

block title 
  title chew chef

block content
  .page__team
    +hero('meet', 'our team')

    main
      .page__main.team
        .container
          +contentHeader('meet our staff', 'we love our customers')
          
          ul.tabs.team-tabs
            li.tabs__tab
              a(href="team-page.html") All

            li.tabs__tab.tabs__tab_state_active
              a(href="javascript:void(0);") Chef
            
            li.tabs__tab
              a(href="team-page-waiter.html") Waiter

            li.tabs__tab
              a(href="team-page-manager.html") Manager

          //- team members
          .team-row
            .team-col 
              +memberOfTheTeam(chef.avatar, chef.name, chef.position, chef.social)
          //- team members end

    include modules/_footer