extends layout/_layout

block title 
  title chew chef

block content
  .page__team
    +hero('meet', 'our team')

    main
      .page__main.team
        .container
          +contentHeader('meet our staff', 'we love our customers')
          
          ul.team__tabs
            li.team__tab
              a(href="team-page-all.html") All

            li.team__tab.team__tab_state_active
              a(href="javascript:void(0);") Chef
            
            li.team__tab
              a(href="team-page-waiter.html") Waiter

            li.team__tab
              a(href="team-page-manager.html") Manager

          //- team members
          .team__row
            .team__col 
              +memberOfTheTeam(chef.avatar, chef.name, chef.position, chef.social)
          //- team members end

    include modules/_footer