extends layout/_layout

block title 
  title chew team

block content
  .page__team
    +hero('meet', 'our team')

    main
      .page__main.team
        .container
          +contentHeader('meet our staff', 'we love our customers')
          
          ul.team__tabs
            li.team__tab.team__tab_state_active
              a(href="javascript:void(0);") All

            li.team__tab
              a(href="team-page-chef.html") Chef
            
            li.team__tab
              a(href="team-page-waiter.html") Waiter

            li.team__tab
              a(href="team-page-manager.html") Manager

          //- team members
          .team__row
            if (membersPage2.length > 0 && Array.isArray(membersPage))
              each member in membersPage2
                .team__col
                  +memberOfTheTeam(member.avatar, member.name, member.position, member.social)
            else
              - var member = membersPage2
              .team__col
                +memberOfTheTeam(member.avatar, member.name, member.position, member.social)
          //- team members end

          .team__paginator 
            a(href="team-page-all.html").team__back
              svg
                use(xlink:href="sprite-svg.svg#arrow-round-back")
            a(href="team-page-all.html").
              1 
            a(href="javascript:void(0);").active.
              2
            a(href="javascript:void(0);").team__forward
              svg
                use(xlink:href="sprite-svg.svg#arrow-round-forward")

    include modules/_footer