extends layout/_layout

block title 
  title chew waiter

block content
  .page__team
    +hero('meet', 'our team')

    main
      .page__main.team
        .container
          +contentHeader('meet our staff', 'we love our customers')
          
          ul.tabs.team-tabs
            li.tabs__tab
              a(href="team-page-all.html") All

            li.tabs__tab
              a(href="team-page-chef.html") Chef
            
            li.tabs__tab
              a(href="javascript:void(0);") Waiter

            li.tabs__tab.tabs__tab_state_active
              a(href="team-page-manager.html") Manager

          //- team members
          .team-row 
            if (waiters.length > 0 && Array.isArray(waiters))
              each waiter in waiters
                .team-col
                  +memberOfTheTeam(waiter.avatar, waiter.name, waiter.position, waiter.social)
            else
              - var waiter = waiters
              .team-col 
                +memberOfTheTeam(waiter.avatar, waiter.name, waiter.position, waiter.social)
          //- team members end

    include modules/_footer