.btn
  display inline-block
  height 40px
  padding 0 30px

  font 15px / 39px baseFont2
  letter-spacing .3px
  text-transform uppercase

  color whiteColor

  border-radius 25px
  &_color_transparent
    background-color transparent
    border 2px solid whiteColor
  &_color_orange
    background-color orangeColor
  &_color_yellow
    color blackColor

    background-color yellowColor
