.btn
  display inline-block
  height 40px

  color whiteColor
  &_color_transparent
    padding 0 30px

    font 15px / 39px baseFont2
    letter-spacing .3px
    text-transform uppercase
    
    background-color transparent
    border 2px solid whiteColor

    border-radius 25px