.nav ul
  display flex
  align-items center
  justify-content space-between
  margin-right 42px

.nav li:not(:last-child)
  margin-right 42px

.nav a
  font 14px / 1 baseFont2
  letter-spacing .6px
  text-transform uppercase
  color whiteColor
  &:hover
    color yellowColor